<!DOCTYPE html>
<html lang="en">
  <head>
    <style >
.vl {
  border-left: 1.5px solid black;
  height: 900px;
  
}
</style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen progra U3</title>
   
  </head>
  <body>
    <hr>
     <div class="vl" >
    <h1>Detalle de la Habitación</h1>
   <ul>
  <li><a href="../index.html">Inicio</a></li>
  <li><a href="views/habitaciones.html">Habitaciones</a></li>
  <li><a href="views/sobreNosotros.html">Sobre Nosotros</a></li>
  <li><a href="views/contacto.html">Contacto</a></li>
</ul>

    <h2>Suite</h2>
     <img src="../views/img/HabitacionLU.jpg" alt="hotel" width="400"
    height="250">

     <p>La suite cuenta con dormitorio principal, sala de estar, baño amplio y balcón con vista al mar.</p>

      <ul>
            <li>Cama king size</li>
            <li>Bañera de hidromasaje</li>
            <li>Mini bar incluido</li>
            <li>Conexion Wi-Fi de alta velocidad</li>

        </ul>

        <p><strong>Precio:</strong>&#36;150 por noche</p>

        <h2>Reserva ahora</h2>
        <label for="">Nombre completo:</label>
         <input type="text" name="name" id="name" autofocus value="" size="40" 
      minlength="6" maxlength="50" required pattern="[A-Za-z]{50}" >
      <br>
      <label>
        Correo electrónico:
      </label>
      <input type="email" name="" required pattern="[A-Za-z]{50}">
      <br>

      <label for="">Check-in:</label>
      <input type="date" name="">
      <br>

      <label for="">Check-out:</label>
      <input type="date" name="">
      <br>

      <label for="">Cantidad de personas:</label>
      <input type="number" name="" min="1" max="20">
      <br>

      <button type="submit">Reservar ahora</button>
      <br>
      <br>

      <a href="habitaciones.html">Volver a habitaciones </a>
      <br>

     <p>© 2025 Hotel Calafia</p>
        </div>
        </body>
</html>