<!DOCTYPE html>
<html lang="en">
  <head>
    <style >
.vl {
  border-left: 1.5px solid black;
  height: 1400px;
  
}
</style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen progra U3</title>
  </head>
  <body>
    <hr>
    <div class="vl" >
    <h1>Nuestras Habitaciones</h1>
   <ul>
  <li><a href="../index.html">Inicio</a></li>
  <li><a href="views/habitaciones.html">Habitaciones</a></li>
  <li><a href="views/sobreNosotros.html">Sobre Nosotros</a></li>
  <li><a href="views/contacto.html">Contacto</a></li>
</ul>
  
    <h2>Estándar</h2>
    <img src="../views/img/habitacionES.jpg" alt="hotel" width="400"
    height="250">

    <p>Habitación acogedora con cama matrimonial, con baño privado, WI-FI y televisión por cable.</p>
    <p><strong>Precio:</strong> &#36;60 por noche</p>

     <a href="detallEstandar.html">Ver detalles </a>
    <br>
    <hr>
    
    <h2>Deluxe</h2>
    <img src="../views/img/habitacionDE.jpg" alt="hotel" width="400"
    height="250">

    <p>Espacio más amplio con cama quenn size, escritorio de trabajo y vista al jardin.</p>
    <p><strong>Precio:</strong>&#36;90 por noche</p>

    <a href="detallesDe.html">Ver detalles </a>
    <br>
    <hr>

    <h2>Suite</h2>
      <img src="../views/img/HabitacionLU.jpg" alt="hotel" width="400"
    height="250">

    <p>Lujo absoluto: como king, sala independiente, jacuzzi y balcón con vista al mar.</p>
    <p><strong>Precio:</strong>&#36;150 por noche</p>

    <a href="detalleSuite.html">Ver detalles </a>
    <br>


    <p>© 2025 Hotel Calafia</p>
      </div>
    </body>
  
</html>